{% extends "account/base_entrance.html" %}
{% load i18n allauth %}

{% block head_title %}
  {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
  <h4 class="card-title text-center mb-3 fw-bold">{% trans "Change Password" %}</h4>
  <div class="text-center">
    <i class="bi bi-check-circle text-success icon-lg"></i>
  </div>
  <p class="text-muted small text-center mt-3">
    {% trans 'Your password is now changed.' %}
  </p>
  <div class="text-center mt-3">
    <a href="{{ login_url }}" class="btn btn-dark">Iniciar sesión</a>
  </div>
{% endblock content %}
