{% extends "account/base_entrance.html" %}
{% load i18n allauth %}

{% block head_title %}
  {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
  <h4 class="card-title text-center mb-3 fw-bold">{% trans "Password Reset" %}</h4>
  <div class="text-center">
    <i class="bi bi-envelope-check text-success icon-lg"></i>
  </div>
  <p class="text-muted small text-center mt-3">
    {% trans "We have sent you an email. If you have not received it, please check your spam folder. Otherwise, contact us if you do not receive it in a few minutes." %}
  </p>
  <div class="text-center mt-3">
    <a href="{{ login_url }}" class="btn btn-outline-dark btn-sm">&#8592; Volver a inicio de sesión</a>
  </div>
{% endblock content %}
