{% extends "account/base_manage.html" %}
{% load allauth i18n %}

{% block head_title %}
  {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
  <h4 class="fw-bold mb-3">{% trans "Change Password" %}</h4>

  {% url 'account_change_password' as action_url %}
  {% element form form=form method="post" action=action_url %}
    {% slot body %}
      {% csrf_token %}
      {% element fields form=form %}
      {% endelement %}
      {{ redirect_field }}
    {% endslot %}
    {% slot actions %}
      {% element button type="submit" tags="prominent" %}
        {% trans "Change Password" %}
      {% endelement %}
      <div class="mt-2">
        <a href="{% url 'account_set_password' %}" class="btn btn-outline-secondary btn-sm">{% trans "Set Password" %}</a>
      </div>
    {% endslot %}
  {% endelement %}
{% endblock content %}
