{% extends "account/base_entrance.html" %}
{% load i18n allauth %}

{% block head_title %}
  {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
  <h4 class="card-title text-center mb-3 fw-bold">
    {% if token_fail %}
      {% trans "Bad Token" %}
    {% else %}
      {% trans "Change Password" %}
    {% endif %}
  </h4>

  {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p class="text-muted small text-center">
      {% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}" class="text-decoration-none">new password reset</a>.{% endblocktrans %}
    </p>
  {% else %}
    {% element form form=form method="post" action=action_url %}
      {% slot body %}
        {% csrf_token %}
        {% element fields form=form %}
        {% endelement %}
        {{ redirect_field }}
      {% endslot %}
      {% slot actions %}
        {% element button type="submit" name="action" tags="prominent" %}
          {% trans 'Change Password' %}
        {% endelement %}
      {% endslot %}
    {% endelement %}
  {% endif %}
{% endblock content %}
