{% extends "account/base_entrance.html" %}
{% load i18n allauth %}

{% block head_title %}
  {% trans "Verify Your Email Address" %}
{% endblock head_title %}

{% block content %}
  <h4 class="card-title text-center mb-3 fw-bold">{% trans "Verify Your Email Address" %}</h4>
  <p class="text-muted small">
    {% blocktrans %}This part of the site requires us to verify that you are who you claim to be. For this purpose, we require that you verify ownership of your email address.{% endblocktrans %}
  </p>
  <p class="text-muted small">
    {% blocktrans %}We have sent an email to you for verification. Please click on the link inside that email. If you do not see the verification email in your main inbox, check your spam folder.{% endblocktrans %}
  </p>
  <p class="text-muted small">
    {% blocktrans %}<a href="{{ email_url }}" class="text-decoration-none">You can change your email address</a> if you no longer have access to the one you used to sign up.{% endblocktrans %}
  </p>
{% endblock content %}
